@import 'shortends';

body {
    margin: auto;
}

header {
    margin: auto;
    max-width: 1080px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 42px;
    position: relative;
}

.menu_button {
    display: none;
    border: none;
    background: white;

    img {
        border: none;
        background: white;
        width: 30px;
        height: 30px;
    }

}

header .l_side {
    padding-right: 50px;
    font-size: 25px;
    letter-spacing: -3px;
    font-weight: 600;

}

header .main {
    font-size: 13px;
    font-weight: 600;

    span {
        padding: 16px;
    }
}

header .r_side {
    font-size: 13px;
    font-weight: 600;

    span {
        padding-right: 30px;
    }
}

// FIRST LANDING //

.first_land {
    max-width: 1080px;
    margin: auto;
}

@media (max-width: $tablet) {
    .first_land {
        height: 240px;
    }
}

.landing {
    background: $sky_blue;
    width: 920px;
    height: 580px;
    margin-top: 44px;
    margin-left: 160px;
    position: absolute;
    display: flex;
    align-items: flex-end;
    justify-content: end;
    z-index: -1;
}

.contacts {
    background: $yellow;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 0px;
    padding-left: 58px;
    padding-right: 26px;

    div {
        padding: 32px;
    }
}

.slogan {
    max-width: 480px;
    letter-spacing: -2px;
    line-height: 55px;
    color: $text;
    font-weight: 600;
    font-size: 48px;
    z-index: 1;
    padding-top: 200px;
}

.search {

    img {
        width: 15px;
        height: 15px;
        margin-bottom: -3px;
    }

    padding-top: 30px;

    button {
        font-size: 13px;
        letter-spacing: 0px;
        font-weight: 600;
        color: $text;
        background: $yellow;
        padding: 15px;
        border: none;
        width: 86px;
        height: 60px;
        margin-left: -4px;
        border-radius: 0px 5px 5px 0px;
    }

    input {
        border: none;
        width: 265px;
        height: 60px;
        border-radius: 5px 0px 0px 5px;
        font-size: 13px;
        padding-left: 20px;
    }
}

.main_button {
    width: 140px;
    height: 40px;
    background: $yellow;
    border: none;
    border-radius: 6px;
    font-size: 13px;
    color: $text;
    font-weight: 600;
    font-family: $fnt-fml;
}

.scroll {
    padding-top: 110px;

}

@media (max-width: $tablet) {

    body {
        padding: 0px;
    }

    .container_tblt body {
        width: $tablet;
    }

    .menu_button {
        display: block;
    }

    header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px 0px 10px 10px;
        position: relative;
    }

    header .l_side {
        padding-left: 0px;
        padding-right: 0px;
    }

    header .main {
        display: none;
        font-size: 13px;
        font-weight: 600;

        span {
            padding: 16px;
        }
    }

    header .r_side {
        display: none;
    }

    .main_button {
        display: none;
    }

    .landing {
        width: 100%;
        height: 240px;
        margin-top: 0px;
        margin-left: 0px;
        position: absolute;
        display: flex;
        align-items: flex-end;
    }

    .contacts {
        @include FCC;
        width: 100%;
        font-size: 10px;
        font-weight: 600;
        padding-left: 15px;
        padding-right: 0px;

        div {
            padding: 20px;
        }
    }

    .slogan {
        @include FCC;
        margin: auto;
        max-width: 100%;
        line-height: 30px;
        font-size: 22px;
        padding-top: 60px;
    }

    .search {
        @include FCC;

        img {
            display: none;
        }

        padding-top: 10px;

        button {
            padding: 5px;
            width: 80px;
            height: 30px;
        }

        input {

            width: 265px;
            height: 30px;
            padding-left: 20px;
        }
    }

    .scroll {
        display: none;
    }
}

// SECOND LANDING with GRID//



.second__land {
    margin: auto;
    max-width: 1080px;
    display: flex;
    justify-content: space-between;
    padding-top: 120px;
}

@media (max-width: $tablet) {
    .second__land {
        flex-direction: column;
        padding: 10px;
    }
}

.second__land--left {
    h2 {
        width: 300px;
        padding-bottom: 70px;
        font-size: 35px;
        letter-spacing: -2px;
        line-height: 40px;
        font-weight: 600;
    }

    p {
        width: 480px;
        height: 130px;
        font-size: 11px;
        letter-spacing: 0px;
        line-height: 30px;
        font-weight: 400;
        padding-top: 30px;

    }
}

@media (max-width: $tablet) {

    body {
        padding: 0px;
    }

    .second__land--left {
        padding-bottom: 0px;
    }

    .second__land--left h2 {
        padding: 10px;

    }

    .second__land--left p {
        width: fit-content;
        height: fit-content;
        text-align: justify;
    }
}


[class ^="box-"] {
    display: grid;
    background: $grey;
    height: 200px;
    width: 200px;
}

.second__land--right {
    display: grid;
    grid-template-areas:
        "box1 box2"
        "box3 box4";
    grid-gap: 30px;

    h2 {
        margin: auto;
        font-size: 40px;
        letter-spacing: -1px;
        line-height: 50px;
        color: $yellow;
        font-weight: 600;
    }

    h4 {
        margin: auto;
        font-size: 14px;
        letter-spacing: 0px;
        line-height: 50px;
        font-weight: 600;
    }
}

@media (max-width: $tablet) {

    [class ^="box-"] {
        display: grid;
        background: $grey;
        height: fit-content;
        width: 100%;
    }

    .second__land--right {
        padding-top: 20px;
        grid-gap: 10px;
        grid-template-areas:
            "box1"
            "box2"
            "box3"
            "box4";
    }
}

.box-1 {
    grid-area: box1;
    padding: 60px 0px 60px 0px;
}

.box-2 {
    grid-area: box2;
    padding: 60px 0px 60px 0px;
}

.box-3 {
    grid-area: box3;
    padding: 60px 0px 60px 0px;
}

.box-4 {
    grid-area: box4;
    padding: 60px 0px 60px 0px;
}

@media (max-width: $tablet) {
    .box-1 {
        padding: 20px;
    }

    .box-2 {
        padding: 20px;
    }

    .box-3 {
        padding: 20px;
    }

    .box-4 {
        padding: 20px;
    }
}


// THIRD LAND with GRID //


.background-wrapper {
    background: $grey;
    width: 100%;
    margin-top: 80px;
    padding-bottom: 60px;
}

@media (max-width: $tablet) {
    .background-wrapper {
        margin-top: 0px;
    }
}

.third__land-container {
    margin: auto;
    max-width: 1080px;

    h2 {
        padding-top: 60px;
    }

    h5 {
        font-size: 13px;
        letter-spacing: 0px;
        font-weight: 600;
    }
}

@media (max-width: $tablet) {
    .third__land-container {
        h2 {
            padding-top: 0px;
        }
    }
}

@media (max-width: $tablet) {
    .third__land {
        flex-direction: column;
        padding: 10px;
    }
}

.third__land--top {
    font-size: 40px;
    letter-spacing: -1px;
    line-height: 50px;
    font-weight: 600;
    width: 50%;
}

@media (max-width: $tablet) {
    .third__land--top {
        margin: auto;
        width: 100%;
        padding: 20px;
    }

}


// GRID //

[class ^="pic_frame-"] {
    display: grid;
    background: $box_blue;
    height: 360px;
    width: 350px;
}

[class ^="spec_frame-"] {
    display: grid;
    background: $white;
    height: 110px;
    width: 350px;
    padding: 28px;
}

.third__land--grid {
    padding-top: 60px;
    display: grid;
    justify-content: center;
    grid-template-areas:
        "pic pic pic"
        "spec spec spec";
    grid-gap: 20px
}

@media (max-width: $tablet) {
    .third__land--grid {
        grid-template-areas:
            "pic"
            "spec";
        padding-top: 0px;
    }

}

.frame-conainer {
    box-shadow: 10px 10px 29px 5px rgba(0, 0, 0, 0.16);
    -webkit-box-shadow: 10px 10px 29px 5px rgba(0, 0, 0, 0.16);
    -moz-box-shadow: 10px 10px 29px 5px rgba(0, 0, 0, 0.16);
}

.third__land--pic_frame-1 {
    grid-area: pic;
}

.third__land--spec_frame-2 {
    grid-area: spec;
}


.lower-container {

    display: flex;
    align-items: center;
    justify-content: space-between;


    .price {
        font-size: 18px;
        letter-spacing: 0px;
        line-height: 50px;
        color: $yellow;
        font-weight: 600;
    }

    .description {
        @include FCE;
        font-size: 13px;

        img {
            margin-right: -17px;
        }
    }
}

.second-search-container {
    display: flex;
    align-items: flex-end;
    padding-top: 20px;
}

@media (max-width: $tablet) {
    .second-search-container {
        display: block;
        text-align: -webkit-center;
    }
}

.second-search {

    img {
        width: 15px;
        height: 15px;
        margin-bottom: -3px;
    }

    padding-top: 30px;

    button {
        font-size: 13px;
        letter-spacing: 0px;
        font-weight: 600;
        color: $text;
        background: $yellow;
        padding: 20px 40px;
        border: none;
        margin-left: -4px;
        border-radius: 0px 5px 5px 0px;
    }


    input {
        border: none;
        padding: 20px 150px 20px 0px;
        border-radius: 5px 0px 0px 5px;
        font-size: 13px;
        padding-left: 20px;
    }
}

@media (max-width: $tablet) {

    .second-search-container {
        max-width: fit-content;
        margin: auto;
    }

    .second-search-container .second-search {
        align-items: center;
    }

    .second-search-container .second-search button {
        border-radius: 5px 5px 5px 5px;
    }

    .second-search-container button {
        margin-top: 20px;

    }

    .second-search-container input {
        border-radius: 5px 5px 5px 5px;
    }
}


.button-view {
    padding: 20px 40px;
    margin-left: 40px;
    background: $white;
    border: none;
    border-radius: 6px;
    font-size: 13px;
    color: $text;
    font-weight: 600;
    font-family: $fnt-fml;
}

@media (max-width: $tablet) {
    .button-view {
        margin: auto;
    }
}

// FORTH LAND with GRID //

.forth__land-container {
    margin: auto;
    max-width: 1080px;
    padding: 40px 10px 80px 10px;
}

@media (max-width: $tablet) {
    .forth__land {
        padding: 30px 10px 10px;
        width: fit-content;
    }
}

.forth__land--title {
    h2 {
        font-size: 40px;
        letter-spacing: -2px;
        line-height: 50px;
        font-weight: 600;
    }

    p {
        padding-top: 40px;
        padding-right: 660px;
        font-size: 14px;
        letter-spacing: 0px;
        line-height: 30px;
        font-weight: 400;
    }
}

@media (max-width: $tablet) {
    .forth__land--title {

        h2 {
            @include FCC;
        }

        p {
            padding-top: 40px;
            padding-right: 0px;
            text-align: justify;
        }
    }
}


// GRID //


[class ^="forth_land-"] {
    display: grid;
    background: $box_blue;
    height: 100%;
    width: 100%;
}

.forth_frame-conainer {
    box-shadow: 10px 10px 29px 5px rgba(0, 0, 0, 0.16);
    -webkit-box-shadow: 10px 10px 29px 5px rgba(0, 0, 0, 0.16);
    -moz-box-shadow: 10px 10px 29px 5px rgba(0, 0, 0, 0.16);
}

.forth__land--grid {
    padding-top: 60px;
    display: grid;
    justify-content: center;
    grid-template-areas:
        "land1 land2 land3";
    grid-gap: 28px
}

@media (max-width: $tablet) {
    .forth__land--grid {
        grid-template-areas:
            "land1"
            "land2"
            "land3";
    }
}

.forth_land-1 {
    grid-area: land1;
    background: $yellow;

    img {
        margin-left: -26px;
        margin-top: -25px;
    }

    .p-button {
        padding: 0px 70px 50px 70px;
    }

    p {
        font-size: 13px;
        padding-bottom: 20px;
        color: $white;
    }

    h2 {
        font-size: 18px;
        letter-spacing: 0px;
        line-height: 63px;
        color: $white;
        font-weight: 600;
        padding: 0px 0px 0px 40px;
    }

    h4 {
        font-size: 15px;
        letter-spacing: 0px;
        line-height: 30px;
        color: $white;
        font-weight: 600;
        padding: 0px 70px 0px 70px;
    }

    button {
        width: max-content;
        background: none;
        border-bottom: 3px solid $white;
        color: $white;
        font-family: $fnt-fml;
        font-weight: 600;
        padding-bottom: 10px;
    }
}

.forth_land-2 {
    grid-area: land1;
    background: $white;

    img {
        margin-left: -26px;
        margin-top: -25px;
    }

    .p-button {
        padding: 0px 70px 50px 70px;
    }

    p {
        font-size: 13px;
        padding-bottom: 20px;
    }

    h2 {
        font-size: 18px;
        letter-spacing: 0px;
        line-height: 63px;
        font-weight: 600;
        padding: 0px 0px 0px 40px;
    }

    h4 {
        font-size: 15px;
        letter-spacing: 0px;
        line-height: 30px;
        font-weight: 600;
        padding: 0px 70px 0px 70px;
    }

    button {
        width: max-content;
        background: none;
        border-bottom: 3px solid $text;
        font-family: $fnt-fml;
        font-weight: 600;
        padding-bottom: 10px;
    }
}

.forth_land-3 {
    grid-area: land1;
    background: $white;

    img {
        margin-left: -26px;
        margin-top: -25px;
    }

    .p-button {
        padding: 0px 70px 50px 70px;
    }

    p {
        font-size: 13px;
        padding-bottom: 20px;
    }

    h2 {
        font-size: 18px;
        letter-spacing: 0px;
        line-height: 63px;
        font-weight: 600;
        padding: 0px 0px 0px 40px;
    }

    h4 {
        font-size: 15px;
        letter-spacing: 0px;
        line-height: 30px;
        font-weight: 600;
        padding: 0px 70px 0px 70px;
    }

    button {
        width: max-content;
        background: none;
        border-bottom: 3px solid $text;
        font-family: $fnt-fml;
        font-weight: 600;
        padding-bottom: 10px;
    }
}