:root {
  font-family: "Montserrat", sans-serif;
  color: #1f373d;
}

body {
  margin: auto;
}

header {
  margin: auto;
  max-width: 1080px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 42px;
  position: relative;
}

.menu_button {
  display: none;
  border: none;
  background: white;
}
.menu_button img {
  border: none;
  background: white;
  width: 30px;
  height: 30px;
}

header .l_side {
  padding-right: 50px;
  font-size: 25px;
  letter-spacing: -3px;
  font-weight: 600;
}

header .main {
  font-size: 13px;
  font-weight: 600;
}
header .main span {
  padding: 16px;
}

header .r_side {
  font-size: 13px;
  font-weight: 600;
}
header .r_side span {
  padding-right: 30px;
}

header .main-mobile {
  display: none;
}

@media (max-width: 768px) {
  header .main-mobile {
    display: none;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
  }
}
@media (max-width: 768px) {
  .container_tblt body {
    width: 768px;
  }

  .hover-me:focus .main-mobile {
    visibility: visible;
  }

  .hover-me:hover .main-mobile {
    display: grid;
    justify-items: end;
    grid-gap: 8px;
    padding: 12px;
  }

  .hover-me:hover img {
    display: none;
  }
}
.first_land {
  max-width: 1080px;
  margin: auto;
}

@media (max-width: 768px) {
  .first_land {
    height: 240px;
  }
}
.landing {
  background: #96bece;
  width: 920px;
  height: 580px;
  margin-top: 44px;
  margin-left: 160px;
  position: absolute;
  display: flex;
  align-items: flex-end;
  justify-content: end;
  z-index: -1;
}

.contacts {
  background: #ffcc01;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 0px;
  padding-left: 58px;
  padding-right: 26px;
}
.contacts div {
  padding: 32px;
}

.slogan {
  max-width: 480px;
  letter-spacing: -2px;
  line-height: 55px;
  color: #1f373d;
  font-weight: 600;
  font-size: 48px;
  z-index: 1;
  padding-top: 200px;
}

.search {
  padding-top: 30px;
}
.search img {
  width: 15px;
  height: 15px;
  margin-bottom: -3px;
}
.search button {
  font-size: 13px;
  letter-spacing: 0px;
  font-weight: 600;
  color: #1f373d;
  background: #ffcc01;
  padding: 15px;
  border: none;
  width: 86px;
  height: 60px;
  margin-left: -4px;
  border-radius: 0px 5px 5px 0px;
}
.search input {
  border: none;
  width: 265px;
  height: 60px;
  border-radius: 5px 0px 0px 5px;
  font-size: 13px;
  padding-left: 20px;
}

.main_button {
  width: 140px;
  height: 40px;
  background: #ffcc01;
  border: none;
  border-radius: 6px;
  font-size: 13px;
  color: #1f373d;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
}

.scroll {
  padding-top: 110px;
}

@media (max-width: 768px) {
  body {
    padding: 0px;
  }

  .container_tblt body {
    width: 768px;
  }

  .menu_button {
    display: block;
  }

  header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0px 10px 10px;
    position: relative;
  }

  header .l_side {
    padding-left: 0px;
    padding-right: 0px;
  }

  header .main {
    display: none;
    font-size: 13px;
    font-weight: 600;
  }
  header .main span {
    padding: 16px;
  }

  header .r_side {
    display: none;
  }

  .main_button {
    display: none;
  }

  .landing {
    width: 100%;
    height: 240px;
    margin-top: 0px;
    margin-left: 0px;
    position: absolute;
    display: flex;
    align-items: flex-end;
  }

  .contacts {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    font-size: 10px;
    font-weight: 600;
    padding-left: 15px;
    padding-right: 0px;
  }
  .contacts div {
    padding: 20px;
  }

  .slogan {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    max-width: 100%;
    line-height: 30px;
    font-size: 22px;
    padding-top: 60px;
  }

  .search {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 10px;
  }
  .search img {
    display: none;
  }
  .search button {
    padding: 5px;
    width: 80px;
    height: 30px;
  }
  .search input {
    width: 265px;
    height: 30px;
    padding-left: 20px;
  }

  .scroll {
    display: none;
  }
}
.second__land {
  margin: auto;
  max-width: 1080px;
  display: flex;
  justify-content: space-between;
  padding-top: 120px;
}

@media (max-width: 768px) {
  .second__land {
    flex-direction: column;
    padding: 10px;
  }
}
.second__land--left h2 {
  width: 300px;
  padding-bottom: 70px;
  font-size: 35px;
  letter-spacing: -2px;
  line-height: 40px;
  font-weight: 600;
}
.second__land--left p {
  width: 480px;
  height: 130px;
  font-size: 11px;
  letter-spacing: 0px;
  line-height: 30px;
  font-weight: 400;
  padding-top: 30px;
}

@media (max-width: 768px) {
  body {
    padding: 0px;
  }

  .second__land--left {
    padding-bottom: 0px;
  }

  .second__land--left h2 {
    padding: 10px;
  }

  .second__land--left p {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    text-align: justify;
  }
}
[class^=box-] {
  display: grid;
  background: #f6f5f4;
  height: 200px;
  width: 200px;
}

.second__land--right {
  display: grid;
  grid-template-areas: "box1 box2" "box3 box4";
  grid-gap: 30px;
}
.second__land--right h2 {
  margin: auto;
  font-size: 40px;
  letter-spacing: -1px;
  line-height: 50px;
  color: #ffcc01;
  font-weight: 600;
}
.second__land--right h4 {
  margin: auto;
  font-size: 14px;
  letter-spacing: 0px;
  line-height: 50px;
  font-weight: 600;
}

@media (max-width: 768px) {
  [class^=box-] {
    display: grid;
    background: #f6f5f4;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    width: 100%;
  }

  .second__land--right {
    padding-top: 20px;
    grid-gap: 10px;
    grid-template-areas: "box1" "box2" "box3" "box4";
  }
}
.box-1 {
  grid-area: box1;
  padding: 60px 0px 60px 0px;
}

.box-2 {
  grid-area: box2;
  padding: 60px 0px 60px 0px;
}

.box-3 {
  grid-area: box3;
  padding: 60px 0px 60px 0px;
}

.box-4 {
  grid-area: box4;
  padding: 60px 0px 60px 0px;
}

@media (max-width: 768px) {
  .box-1 {
    padding: 20px;
  }

  .box-2 {
    padding: 20px;
  }

  .box-3 {
    padding: 20px;
  }

  .box-4 {
    padding: 20px;
  }
}
.background-wrapper {
  background: #f6f5f4;
  width: 100%;
  margin-top: 80px;
  padding-bottom: 60px;
}

@media (max-width: 768px) {
  .background-wrapper {
    margin-top: 0px;
  }
}
.third__land-container {
  margin: auto;
  max-width: 1080px;
}
.third__land-container h2 {
  padding-top: 60px;
}
.third__land-container h5 {
  font-size: 13px;
  letter-spacing: 0px;
  font-weight: 600;
}

@media (max-width: 768px) {
  .third__land-container h2 {
    padding-top: 0px;
  }
}
@media (max-width: 768px) {
  .third__land {
    flex-direction: column;
    padding: 10px;
  }
}
.third__land--top {
  font-size: 40px;
  letter-spacing: -1px;
  line-height: 50px;
  font-weight: 600;
  width: 50%;
}

@media (max-width: 768px) {
  .third__land--top {
    margin: auto;
    width: 100%;
    padding: 20px;
  }
}
[class^=pic_frame-] {
  display: grid;
  background: #b1d7e8;
  height: 360px;
  width: 350px;
}

[class^=spec_frame-] {
  display: grid;
  background: #ffffff;
  height: 110px;
  width: 350px;
  padding: 28px;
}

.third__land--grid {
  padding-top: 60px;
  display: grid;
  justify-content: center;
  grid-template-areas: "pic pic pic" "spec spec spec";
  grid-gap: 20px;
}

@media (max-width: 768px) {
  .third__land--grid {
    grid-template-areas: "pic" "spec";
    padding-top: 0px;
  }
}
.frame-conainer {
  box-shadow: 10px 10px 29px 5px rgba(0, 0, 0, 0.16);
  -webkit-box-shadow: 10px 10px 29px 5px rgba(0, 0, 0, 0.16);
  -moz-box-shadow: 10px 10px 29px 5px rgba(0, 0, 0, 0.16);
}

.third__land--pic_frame-1 {
  grid-area: pic;
}

.third__land--spec_frame-2 {
  grid-area: spec;
}

.lower-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.lower-container .price {
  font-size: 18px;
  letter-spacing: 0px;
  line-height: 50px;
  color: #ffcc01;
  font-weight: 600;
}
.lower-container .description {
  display: flex;
  align-items: center;
  justify-content: end;
  font-size: 13px;
}
.lower-container .description img {
  margin-right: -17px;
}

.second-search-container {
  display: flex;
  align-items: flex-end;
  padding-top: 20px;
}

@media (max-width: 768px) {
  .second-search-container {
    display: block;
    text-align: -webkit-center;
  }
}
.second-search {
  padding-top: 30px;
}
.second-search img {
  width: 15px;
  height: 15px;
  margin-bottom: -3px;
}
.second-search button {
  font-size: 13px;
  letter-spacing: 0px;
  font-weight: 600;
  color: #1f373d;
  background: #ffcc01;
  padding: 20px 40px;
  border: none;
  margin-left: -4px;
  border-radius: 0px 5px 5px 0px;
}
.second-search input {
  border: none;
  padding: 20px 150px 20px 0px;
  border-radius: 5px 0px 0px 5px;
  font-size: 13px;
  padding-left: 20px;
}

@media (max-width: 768px) {
  .second-search-container {
    max-width: -webkit-fit-content;
    max-width: -moz-fit-content;
    max-width: fit-content;
    margin: auto;
  }

  .second-search-container .second-search {
    align-items: center;
  }

  .second-search-container .second-search button {
    border-radius: 5px 5px 5px 5px;
  }

  .second-search-container button {
    margin-top: 20px;
  }

  .second-search-container input {
    border-radius: 5px 5px 5px 5px;
  }
}
.button-view {
  padding: 20px 40px;
  margin-left: 40px;
  background: #ffffff;
  border: none;
  border-radius: 6px;
  font-size: 13px;
  color: #1f373d;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
}

@media (max-width: 768px) {
  .button-view {
    margin: auto;
  }
}
.forth__land-container {
  margin: auto;
  max-width: 1080px;
  padding: 40px 10px 80px 10px;
}

@media (max-width: 768px) {
  .forth__land {
    padding: 30px 10px 10px;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
}
.forth__land--title h2 {
  font-size: 40px;
  letter-spacing: -2px;
  line-height: 50px;
  font-weight: 600;
}
.forth__land--title p {
  padding-top: 40px;
  padding-right: 660px;
  font-size: 14px;
  letter-spacing: 0px;
  line-height: 30px;
  font-weight: 400;
}

@media (max-width: 768px) {
  .forth__land--title h2 {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .forth__land--title p {
    padding-top: 40px;
    padding-right: 0px;
    text-align: justify;
  }
}
[class^=forth_land-] {
  display: grid;
  background: #b1d7e8;
  height: 100%;
  width: 100%;
}

.forth_frame-conainer {
  box-shadow: 10px 10px 29px 5px rgba(0, 0, 0, 0.16);
  -webkit-box-shadow: 10px 10px 29px 5px rgba(0, 0, 0, 0.16);
  -moz-box-shadow: 10px 10px 29px 5px rgba(0, 0, 0, 0.16);
}

.forth__land--grid {
  padding-top: 60px;
  display: grid;
  justify-content: center;
  grid-template-areas: "land1 land2 land3";
  grid-gap: 28px;
}

@media (max-width: 768px) {
  .forth__land--grid {
    grid-template-areas: "land1" "land2" "land3";
  }
}
.forth_land-1 {
  grid-area: land1;
  background: #ffcc01;
}
.forth_land-1 img {
  margin-left: -26px;
  margin-top: -25px;
}
.forth_land-1 .p-button {
  padding: 0px 70px 50px 70px;
}
.forth_land-1 p {
  font-size: 13px;
  padding-bottom: 20px;
  color: #ffffff;
}
.forth_land-1 h2 {
  font-size: 18px;
  letter-spacing: 0px;
  line-height: 63px;
  color: #ffffff;
  font-weight: 600;
  padding: 0px 0px 0px 40px;
}
.forth_land-1 h4 {
  font-size: 15px;
  letter-spacing: 0px;
  line-height: 30px;
  color: #ffffff;
  font-weight: 600;
  padding: 0px 70px 0px 70px;
}
.forth_land-1 button {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  background: none;
  border-bottom: 3px solid #ffffff;
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  padding-bottom: 10px;
}

.forth_land-2 {
  grid-area: land1;
  background: #ffffff;
}
.forth_land-2 img {
  margin-left: -26px;
  margin-top: -25px;
}
.forth_land-2 .p-button {
  padding: 0px 70px 50px 70px;
}
.forth_land-2 p {
  font-size: 13px;
  padding-bottom: 20px;
}
.forth_land-2 h2 {
  font-size: 18px;
  letter-spacing: 0px;
  line-height: 63px;
  font-weight: 600;
  padding: 0px 0px 0px 40px;
}
.forth_land-2 h4 {
  font-size: 15px;
  letter-spacing: 0px;
  line-height: 30px;
  font-weight: 600;
  padding: 0px 70px 0px 70px;
}
.forth_land-2 button {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  background: none;
  border-bottom: 3px solid #1f373d;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  padding-bottom: 10px;
}

.forth_land-3 {
  grid-area: land1;
  background: #ffffff;
}
.forth_land-3 img {
  margin-left: -26px;
  margin-top: -25px;
}
.forth_land-3 .p-button {
  padding: 0px 70px 50px 70px;
}
.forth_land-3 p {
  font-size: 13px;
  padding-bottom: 20px;
}
.forth_land-3 h2 {
  font-size: 18px;
  letter-spacing: 0px;
  line-height: 63px;
  font-weight: 600;
  padding: 0px 0px 0px 40px;
}
.forth_land-3 h4 {
  font-size: 15px;
  letter-spacing: 0px;
  line-height: 30px;
  font-weight: 600;
  padding: 0px 70px 0px 70px;
}
.forth_land-3 button {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  background: none;
  border-bottom: 3px solid #1f373d;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  padding-bottom: 10px;
}/*# sourceMappingURL=style.css.map */