$text: #1f373d;
$sky_blue: #96bece;
$yellow: #ffcc01;


body {
    margin: auto;
    width: 1560px;

}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 42px;
    position: relative;
}

header .l_side {
    padding-right: 235px;
    font-size: 30px;
    letter-spacing: -3px;
    font-weight: 600;

}

header .main {
    font-size: 16px;
    font-weight: 600;

    span {
        padding: 30px;
    }
}

header .r_side {
    margin-left: 100px;
    font-size: 16px;
    font-weight: 600;
    padding-left: 48px;

    span {
        padding: 48px;
    }
}

header button {
    width: 140px;
    height: 40px;
    background: $yellow;
    border: none;
    border-radius: 6px;
    font-size: 13px;
    color: $text;
    font-weight: 600;
    font-family: "Montserrat";
}