.footer {
 max-width: 1440px;

}

.ftr {
    margin-top: 176px;
    margin-bottom: 100px;
    display: flex;
    justify-content: center;
}

.ftr-container {
    position: relative;
    
}

.ftr-logo {
    position: absolute;
    top: 83px;
    left: 43px;
}

.ftr p {
width: 520px;
height: 106px;
font-size: 17px;
line-height: 25px;
color: #ffffff;
font-weight: 400;
font-family: "Montserrat";
margin-top: 25px;
}
.ftr p:nth-of-type(2) {
    font-size: 17px;
    color: #ffffff;
font-weight: 400;
font-family: "Bebas Neue";
margin-top: 170px;
}

.ftr-lowliner {
    position: absolute;
    top: 475px;
    left: 1140px;
 }

.ftr-lowliner img {
    padding-right: 12px;
}

.contacts {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 226px;
    left: 900px;
    color: #ffffff;
}

.contacts img {
    padding-right: 32px;
}

.contacts tr {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
}